<div class="review-container white">
    <!-- User wants to see Companies Review -->
    <div class="review-box">
      <img src="/working-with-laptop.png" alt="Company Review">
      <a href="/company-review-display">Companies Review</a>
    </div>
  
    <!-- User wants to see the Students Review -->
    <div class="review-box">
      <img src="/icons8-student-100.png" alt="Student Review">
      <a [attr.href]="isadmin ? '/admin' : '/student'">
        Students Review {{ isadmin ? '(Admin Mode)' : '' }}
      </a>
    </div>
  </div>
  