<!-- Compact Card -->
<div class="job-card" (click)="openCard()">
  <h2 class="company">{{ CompanyDetails?.companyname }}</h2>
  <p class="profile">Profile: {{ CompanyDetails?.jobProfile }}</p>
  <p class="rounds">Rounds: {{ CompanyDetails?.numRounds }}</p>
  <p class="job-type">Job Type: {{ CompanyDetails?.jobType }}</p>
  <p class="ctc">CTC: {{ CompanyDetails?.ctc }}</p>
  <p class="work-mode">Work Mode: {{ CompanyDetails?.workMode }}</p>
  <p class="location">Location: {{ CompanyDetails?.location }}</p>
</div>

<!-- Expanded Overlay -->
<div class="overlay" *ngIf="isCardOpen" (click)="closeCard()">
  <div class="job-card expanded" (click)="$event.stopPropagation()">
    <h2 class="company">{{ CompanyDetails?.companyname }}</h2>
    <h3>{{ CompanyDetails?.jobProfile }} — {{ CompanyDetails?.ctc }}</h3>

    <div class="section">
      <h4>Coding Round</h4>
      <div class="sub-container">
          <p><strong>Platform:</strong> {{ CodingRoundInfo?.codingPlatform }}</p>
          <p><strong>Duration:</strong> {{ CodingRoundInfo?.codingDuration }}</p>
          <p><strong>Questions Asked:</strong></p>
            <ul>
              <li *ngFor="let q of CodingRoundInfo?.codingQuestions">
                {{ q }}
              </li>
            </ul>
          <p><strong>Difficulty:</strong> {{ CodingRoundInfo?.codingDifficulty }}</p>
          <p><strong>Interview Mode:</strong> {{ CodingRoundInfo?.interviewMode }}</p>
      </div>
      
    </div>

    <div class="section">
      <h4>Technical Round</h4>
      <div class="sub-container">
        <p><strong>InterviewMode:</strong> {{ TechnicalRound?.interviewMode }}</p>
      <p><strong>Duration:</strong> {{ TechnicalRound?.interviewDuration}}</p>
      <p><strong>DSA Questions Asked:</strong></p>
      <ul>
        <li *ngFor="let q of TechnicalRound?.dsaQuestions">
          {{ q.questionType }}
          {{ q.question }}
        </li>
      </ul>
      <p><strong>System Design Questions Asked:</strong></p>
      <ul>
        <li *ngFor="let q of TechnicalRound?.systemDesignQuestions">
          {{ q.questionType }}
          {{ q.question }}
        </li>
      </ul>
      <p><strong>Computer Core Questions Asked:</strong></p>
      <ul>
        <li *ngFor="let q of TechnicalRound?.dbmsQuestions">
          {{ q.questionType }}
          {{ q.question }}
        </li>
      </ul>
      <p><strong>PuzzleBasedQuestion Questions Asked:</strong></p>
      <ul>
        <li *ngFor="let q of TechnicalRound?.puzzleBasedQuestions">
          {{ q.question }}
        </li>
      </ul>

      </div>
      
    </div>

    <div class="section">
      <h4>HR Round</h4>
      <div class="sub-container">
        <p><strong>SituationBasedQuestions Questions Asked:</strong></p>
      <ul>
        <li *ngFor="let q of HRRound?.situationBasedQuestions">
          {{ q.question }}
        </li>
      </ul>
      <p><strong>UnexpectedQuestions Questions Asked:</strong></p>
      <ul>
        <li *ngFor="let q of HRRound?.unExpectedQuestions">
          {{ q.question }}
        </li>
      </ul>
      </div>
      
    </div>

    <div class="section">
      <h4>Resources:</h4>
      <div class="sub-container">
        <div class="resource" *ngFor="let q of Resources">
          <div>
            <strong>Category:</strong> {{ q.type }} <br>
            <strong>Link:</strong> <a [href]="q.link" target="_blank">{{ q.link }}</a>
          </div>
          <div>
            <strong>Description:</strong> {{ q.description }} <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

